* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 3rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.25rem 0.5rem;
  font-size: 1.75rem;
  margin: 0.1rem;
}

form input[type="number"] {
  width: 75px;
  text-align: center;
}
